# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Databases / files phát sinh
*.db
*.sqlite3

# Logs
*.log
